// import defined variables 
@use '_global' as *;

.blog {
  background-color: #ffffff;
  max-width: unset;
  padding: 5% 10%;
  font-family: $font-title;

  .title {
    @extend %base-title;
  }

  .process-list {
    margin-top: 40px;
    margin-bottom: 46px;

    .process {
      margin-bottom: 25px;

      &>div {
        &>h3 {
          color: $dark-green-title;
          margin-bottom: 0;
          font-size: 30px;
          font-weight: 500;
        }

        &>p {
          color: $dark-green-text;
          margin: 0;
        }
      }

      .process-icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center;

        img {
          height: 100%;
        }
      }
    }
  }

  button {
    width: 180px;
    height: auto;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 15px;
  }

  .metadata .category {
    color: $metadata-text;
  }

  h5 .card-title,
  .card-text {
    color: $card-text;
  }
}